html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
html, body {
  max-width: 100%;
  overflow-x: hidden;
}

body {
  color: #545149;
  background-color: #f4f1ec;
  font-size: 24px;
  font-family: 'Source Sans Pro', sans-serif;
  top:120px;
  position:relative;
}

main {
  height:1000px;
  width: 90%;
  margin:auto;
  background-color: #f4f1ec;
}

@media only screen and (min-width: 1024px) {
  main {
    width: 50%;
    float: right;
    margin:1.5em; 
  }
}

