nav {
  display:flex;
  background-color: #4056A1;
  height: 120px;
  width: 100vw;
  color: #ffffff;
  padding: 1.5em;
  font-family: 'Bungee', cursive; 
  font-size: 42px;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top:0;
}

div.write-new-tweet {
  font-size: 28px;
  font-family: 'Source Sans Pro', sans-serif;
  display:flex;
  flex-direction: column;
  align-items: center;
}

div.write {
  font-weight: bold;
}

#double-arrow {
  color:red;
  font-size: 30px;
}

button.compose {
  background-color: #4056A1;
  border: none;
  outline: none;
}

@media only screen and (min-width: 1024px) {
  nav {
    background-color: #4056A1;
  }
}
