
section.new-tweet {
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
  padding: 1em;
}

div.error-msg{
  display:flex;
  flex-direction: row;
  padding:0.5em;
  align-items: center;
  justify-content: center;
  border: 3px solid;
  color:red;
  flex-shrink: 4;
}

p.error-msg{
  margin: 0;
  padding-left: 1em;
  padding-right: 1em;
}

textarea {
  width:100%;
  resize: none;
  background-color: #f4f1ec;
  border: none;
  border-bottom: 3px solid #545149;
}

textarea:focus {
  outline: none;
  border:1px solid red;
  border:none;
  border-bottom: 3px solid #545149;
}

#tweet-form {
  width:100%;
  margin-top:1em;
}

#tweet-button {
  background-color: #4056A1;
  border: none;
  color: #ffffff;
  height:35px;
}

.button-area {
  font-family: 'Bungee', cursive;
  display:flex;
  margin-top:5px;
  flex-direction: row;
  justify-content: space-between;
}


.red-counter {
  color:red;
}